@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
body {
  background-color: #282d35;
  font-family: "Inter", sans-serif;
  background-image: url("./assets/react-icon-half.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}
nav {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  background-color: #21222a;
}
nav > h3 {
  margin-left: 5px;
  margin-right: auto;
  color: #00d8ff;
  font-size: 22px;
  font-weight: bold;
}
nav > h4 {
  color: white;
}

main {
  color: white;
  margin-top: 20px;
  padding: 40px 50px;
  max-width: 400px;
}
main > h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
main > ul > li {
  padding-block: 10px;
}
main > ul > li::marker {
  font-size: 1.4rem;
  color: #00d8ff;
}
